<component name="ArtifactManager">
  <artifact type="war" name="SpringSpringmvcMybatisDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSpringmvcMybatisDemo.war">
      <element id="artifact" artifact-name="SpringSpringmvcMybatisDemo:war exploded" />
    </root>
  </artifact>
</component>